*{
	margin: 0;padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
body{
	background-color:#f2f2f2;
}
h1{
	text-align: center;
	font-weight: normal;
	padding: 20px;
}

.wrapper{
    box-shadow: 0 0 3px #AAA;
    width: 920px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid white;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
}

.wrapper >.slides{
	display: flex;
	transition: all 1s;
	border-bottom: 1px solid #CDCBC7;
}
.wrapper > .slides>img{
    width: 100%;
}
.wrapper >.menu{
	height: 35px;
	text-align: center;
	align-items: center;
	padding: 0 350px;
}

.wrapper >.menu >ul.clearfix{
    content: '';
    display: block;
    clear: both;
    height: 100%
}    

.menu > ul >li{
	float: left;
	height: 100%;
	width: 50px;
	border-left: 1px solid #CDCBC7;
	padding:5px 0;
}

.menu >ul>li:last-child{
	border-right: 1px solid #CDCBC7;
}

.menu>ul>li.active{
	background: #999;
	box-shadow: 0 0 3px #dbdbdb
}













